.page-title {
  color: white;
  font-family: "Gotham Medium", Sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px !important;
}

.teaser-text {
  color: white;
  font-family: "Gotham Medium", Sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px !important;
}

.main-text {
  color: white;
  font-family: "Gotham Book", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px !important;
}
@media (min-width: 1200px) {
  .main-text {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
}

.directions {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 20px !important;
  text-align: center;
  font-weight: bold;
}

.tag-line {
  font-family: "Meow Script", cursive;
  font-size: 32px;
  line-height: 24px;
  color: white;
  margin-top: 40px !important;
  text-align: center;
  font-weight: bold;
}

.card-title {
  font-family: "Gotham Medium", sans-serif;
  font-size: 24px;
  margin-top: 15px;
}

.card-text {
  font-family: "Gotham Book", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.card {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.55);
}

.category-link {
  color: #202020;
}

.category-link:hover {
  text-decoration: none !important;
}

.card:hover {
  background-color: #202020;
  color: white !important;
}

a:hover {
  text-decoration: none !important;
}
