.card-title {
  font-family: "Covered By Your Grace", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
}

.card-text {
  font-family: "Gotham Medium", sans-serif;
  font-size: 16px;
}
.category-link {
  color: #202020;
}

.category-link:hover {
  text-decoration: none;
}

.card:hover {
  background-color: #202020;
  color: white !important;
}
