/* Breadcrumbs */
.albany-room-breadcrumbs {
  margin-left: 35px !important;
}

.breadcrumb {
  padding: 0px !important;
}

.breadcrumb-item {
  font-family: "Covered By Your Grace", sans-serif;
  text-transform: uppercase;
}

.inactive-link {
  color: #9933cc;
}

.inactive-link:hover {
  color: #b758e7;
  text-decoration: underline;
}

/* Page Title */
.page-title {
  margin-left: 75px !important;
  font-family: "Covered By Your Grace", sans-serif;
  font-weight: bold !important;
  font-size: 68px !important;
  text-transform: uppercase !important;
  color: #202020;
  margin-bottom: 20px !important;
}

/* Intro Text */
.introduction-text {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
  margin-left: 75px !important;
}

/* Toggle and Views Section */
.toggle-and-views {
  background-color: #202020;
  border-radius: 16px;
  padding-right: 40px !important;
  padding-left: 40px !important;
  padding-top: 20px !important;
  padding-bottom: 60px !important;
  margin-left: 75px !important;
  margin-bottom: 80px !important;
}

/*
Header Section
*/
.header-section {
  padding-top: 40px !important;
  text-align: center;
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: white;
}

.teaser-text {
  font-family: "Gotham Bold", sans-serif;
  font-size: 30px !important;
  color: white;
  margin-bottom: 0px !important;
}

/*
Icons
*/
.icon-card-group {
  max-width: 60%;
  flex-direction: row !important;
  cursor: pointer;
}

.card-img-top {
  background-color: #202020 !important;
}

.icon-card {
  border: none !important;
  background-color: #202020 !important;
}

/*
Content
*/
.committee-card {
  margin-top: 40px !important;
  margin-right: 100px !important;
  margin-left: 100px !important;
  background-color: #efe0f6;
  color: #202020;
  border-radius: 16px !important;
  padding: 40px !important;
}

.committee {
  @media (min-width: "500px") {
    height: "300px";
  }
}

.committee-title {
  color: #9933cc !important;
  font-family: "Covered By Your Grace", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 0px !important;
  width: 150%;
}

.committee-details {
  margin-left: 40px !important;
  margin-top: 20px !important;
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
}
