/*
Breadcrumbs
*/
.albany-room-breadcrumbs {
  margin-left: 35px !important;
}
@media (max-width: 450px) {
  .albany-room-breadcrumbs {
    margin-left: 10px !important;
  }
}

.breadcrumb {
  padding: 0px !important;
}
@media (max-width: 450px) {
  .breadcrumb {
    margin-left: 0px !important;
  }
}

.breadcrumb-item {
  font-family: "Gotham Medium", sans-serif;
  font-size: 16px;
  display: inline-flex;
}

.inactive-link {
  color: #9933cc;
}

.inactive-link:hover {
  color: #b758e7;
  text-decoration: underline;
}

/* Page Title */
.page-title {
  margin-left: 75px !important;
  color: #202020;
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 60px !important;
  margin-top: 40px !important;
  margin-bottom: 0px !important;
}
@media (max-width: 450px) {
  .page-title {
    margin-left: 0px !important;
    font-size: 40px !important;
    text-align: center;
  }
}

/* Intro Text */
.introduction-text {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
  margin-left: 75px !important;
}
@media (max-width: 450px) {
  .introduction-text {
    margin-left: 0px !important;
    text-align: center;
  }
}

/* Toggle and Views Section */
.toggle-and-views {
  background-color: #202020;
  border-radius: 16px;
  padding-right: 40px !important;
  padding-left: 40px !important;
  padding-top: 20px !important;
  padding-bottom: 60px !important;
  margin-left: 75px !important;
  margin-bottom: 80px !important;
}
@media (max-width: 450px) {
  .toggle-and-views {
    padding: 0px !important;
    margin-left: 0px !important;
    text-align: center;
  }
}

/*
Header Section
*/
.header-section {
  padding-top: 40px;
  text-align: center;
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: white;
}

.teaser-text {
  font-family: "Gotham Bold", "Gotham Medium" !important;
  font-size: 26px !important;
  color: white;
  margin-bottom: 20px !important;
}

/*
GovernorCards
*/
.container {
  transform-style: preserve-3d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px !important;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 16px !important;
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
  border-radius: 16px !important;
}

.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 16px !important;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px !important;
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9933cc;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  border-radius: 16px !important;
}

.container .box:hover .body {
  transform: rotateY(180deg);
}

.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #9933cc, #202020);
  transform: translateZ(100px);
  border-radius: 16px !important;
}

.container .box .body .content div h3 {
  letter-spacing: 1px;
}

.governor-name {
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 24px !important;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.governor-details {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
}
