/* Breadcrumbs */
.albany-room-breadcrumbs {
  margin-left: 35px !important;
}

.breadcrumb {
  padding: 0px !important;
}

.breadcrumb-item {
  font-family: "Covered By Your Grace", sans-serif;
  text-transform: uppercase;
}

.inactive-link {
  color: #9933cc;
}

.inactive-link:hover {
  color: #b758e7;
  text-decoration: underline;
}

/* Page Title */
.page-title {
  margin-left: 75px !important;
  font-family: "Covered By Your Grace", sans-serif;
  font-weight: bold !important;
  font-size: 68px !important;
  text-transform: uppercase !important;
  color: #202020;
  margin-bottom: 20px !important;
}

/* Intro Text */
.introduction-text {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
  margin-left: 75px !important;
}

/* Quiz Area */
.quiz {
  background-color: #202020;
  color: white !important;
  border-radius: 16px;
  padding-right: 40px !important;
  padding-left: 40px !important;
  padding-top: 20px !important;
  padding-bottom: 60px !important;
  margin-left: 75px !important;
  margin-bottom: 80px !important;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.score-section {
  display: flex;
  font-size: 28px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  padding: 40px;
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-weight: 700;
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
