/* Breadcrumbs */
.albany-room-breadcrumbs {
  margin-left: 35px !important;
}

.breadcrumb {
  padding: 0px !important;
}

.breadcrumb-item {
  font-family: "Covered By Your Grace", sans-serif;
  text-transform: uppercase;
}

.inactive-link {
  color: #9933cc;
}

.inactive-link:hover {
  color: #b758e7;
  text-decoration: underline;
}

/* Page Title */
.page-title {
  margin-left: 75px !important;
  color: #202020;
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 60px !important;
  margin-top: 40px !important;
  margin-bottom: 0px !important;
}

/* Intro Text */
.introduction-text {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
  margin-left: 75px !important;
}

/* Toggle and Views Section */
.toggle-and-views {
  background-color: #202020;
  border-radius: 16px;
  padding-right: 40px !important;
  padding-left: 40px !important;
  padding-top: 20px !important;
  padding-bottom: 60px !important;
  margin-left: 75px !important;
  margin-bottom: 80px !important;
}

/*
Header Section
*/
.header-section {
  padding-top: 40px;
  text-align: center;
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: white;
}

.teaser-text {
  font-family: "Gotham Bold", "Gotham Medium" !important;
  font-size: 26px !important;
  color: white;
  margin-bottom: 20px !important;
}

/*
Icons
*/
.icon-card-group {
  max-width: 90%;
  flex-direction: row !important;
  cursor: pointer;
}

.card-img-top {
  background-color: #202020 !important;
}

.guest-card {
  border: none !important;
  border-radius: 0px !important;
}

.guest-details {
  padding-right: 10px;
  padding-left: 10px;
  background: linear-gradient(45deg, #9933cc, #202020) !important;
}

.guest-image {
  width: 100%;
  height: 40vw !important;
  object-fit: cover;
}

.guest-name {
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 24px !important;
  margin-top: 10px;
  margin-bottom: 10px !important;
  color: white !important;
}

.guest-description {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  color: white;
}

.icon-card {
  border: none !important;
  background-color: #202020 !important;
}

/*
Content
*/
.hotel {
  @media (min-width: "500px") {
    height: "300px";
  }
}

.hotel-title {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  color: white !important;
  font-family: "Gotham Medium" !important;
  font-size: 30px !important;
}

.hotel-content {
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hotel-details {
  margin: auto;
}

.hotel-image {
  border-radius: 16px !important;
  max-height: 400px;
}

.teaser-text {
  font-family: "Gotham Bold", sans-serif;
  font-size: 30px !important;
  color: white;
  margin-bottom: 0px !important;
}

/*
GuestCards
*/
.container {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px !important;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 16px !important;
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
  border-radius: 16px !important;
}

.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 16px !important;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px !important;
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9933cc;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  border-radius: 16px !important;
}

.container .box:hover .body {
  transform: rotateY(180deg);
}

.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #9933cc, #202020);
  transform: translateZ(100px);
  border-radius: 16px !important;
}

.container .box .body .content div h3 {
  letter-spacing: 1px;
}

.guest-name {
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 24px !important;
}

.guest-description {
  font-family: "Gotham Book", sans-serif;
  font-size: 14px !important;
}

.sub-title {
  font-family: "Gotham Medium", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px !important;
}
