.breadcrumb-item {
  font-family: "Gotham Medium", sans-serif;
}

.inactive-link {
  color: #fff;
}

.inactive-link:hover {
  color: #f9ddff;
}

.current-page {
  font-family: "Gotham Medium", sans-serif;
}

.toggle-btn {
  border-radius: 0px !important;
  border: solid #9933cc 2px;
  font-family: "Gotham Medium", sans-serif;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.active-btn {
  color: white;
  background-color: #9933cc;
}

.inactive-btn {
  color: #ceccdb;
  background-color: white;
}

.directions {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.card-title {
  font-family: "Covered By Your Grace", sans-serif;
  font-weight: bold !important;
  font-size: 26px !important;
  text-transform: uppercase !important;
}

.card-text {
  font-family: "Gotham Medium", sans-serif;
  font-size: 16px;
}

.category-link:hover {
  text-decoration: none;
}

.card {
  color: #202020;
  background-color: white;
}

.card:hover {
  color: white !important;
  background-color: #9933cc;
}
