/*
Breadcrumbs
*/
.albany-room-breadcrumbs {
  margin-left: 35px !important;
}
@media (max-width: 450px) {
  .albany-room-breadcrumbs {
    margin-left: 10px !important;
  }
}

.breadcrumb {
  padding: 0px !important;
}
@media (max-width: 450px) {
  .breadcrumb {
    margin-left: 0px !important;
  }
}

.breadcrumb-item {
  font-family: "Gotham Medium", sans-serif;
  font-size: 16px;
  display: inline-flex;
}

.inactive-link {
  color: #9933cc;
}

.inactive-link:hover {
  color: #b758e7;
  text-decoration: underline;
}

/* Page Title */
.page-title {
  margin-left: 75px !important;
  color: #202020;
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 60px !important;
  margin-top: 40px !important;
  margin-bottom: 0px !important;
}
@media (max-width: 450px) {
  .page-title {
    margin-left: 0px !important;
    font-size: 40px !important;
    text-align: center;
  }
}

/* Story */
.story {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
  margin-left: 75px !important;
  padding-bottom: 80px;
}
@media (max-width: 450px) {
  .story {
    margin-left: 0px !important;
  }
}
