/* Breadcrumbs */
.albany-room-breadcrumbs {
  margin-left: 35px !important;
}
@media (max-width: 450px) {
  .albany-room-breadcrumbs {
    margin-left: 10px !important;
  }
}

.breadcrumb {
  padding: 0px !important;
}
@media (max-width: 450px) {
  .breadcrumb {
    margin-left: 0px !important;
  }
}

.breadcrumb-item {
  font-family: "Gotham Medium", sans-serif;
  font-size: 16px;
  display: inline-flex;
}

.inactive-link {
  color: #9933cc;
}

.inactive-link:hover {
  color: #b758e7;
  text-decoration: underline;
}

/* Page Title */
.page-title {
  margin-left: 75px !important;
  color: #202020;
  font-family: "Gotham Medium", sans-serif;
  font-weight: bold !important;
  font-size: 60px !important;
  margin-top: 40px !important;
  margin-bottom: 0px !important;
}
@media (max-width: 450px) {
  .page-title {
    margin-left: 0px !important;
    font-size: 40px !important;
    text-align: center;
  }
}

/* Intro Text */
.introduction-text {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
  margin-left: 75px !important;
}
@media (max-width: 450px) {
  .introduction-text {
    margin-left: 0px !important;
    text-align: center;
  }
}

/* Crime Badges */
.crime-badges {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

/* Crime Badge */

.crime-badge {
  line-height: normal;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Gotham Book", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #202020;
  background-color: #f0f0f0;
}

.crime-badge:hover,
.crime-badge.selected {
  color: #9933cc;
  background-color: #efe0f6;
}

/* Cards */
.card-body {
  background-color: #efe0f6;
}

.lawmaker-cards {
  padding-top: 40px;
  padding-bottom: 80px;
}

.lawmaker-card {
  border-radius: 16px !important;
  box-shadow: 2px 2px 10px #f0f0f0 !important;
  border: none !important;
}

.card-title {
  color: #202020;
  font-family: "Gotham Medium", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.card-subtitle {
  font-family: "Gotham Medium", Sans-serif;
  font-size: 14px;
  color: #b5b5b5;
}

.card-text {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px !important;
  color: #202020;
}

.card {
  position: relative;
}

.card-date {
  margin-top: 20px !important;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  margin-bottom: 0px !important;
  font-style: italic;
}
